@use '../../scss/global/colors' as colors;
@use '../../scss/utils/functions' as fn;
@import '../../scss/utils/mixins';
@import '../../scss/utils/breakpoints';

.navMainContainer {
  position: sticky;
  top: 0px;
  // left: 20px;
}

.navContainer {
  @include flex;
  @include flex_justifyBetween;
  padding-block: fn.rem(20);

  .logoContainer {
    @include flex;
    gap: fn.rem(10);

    .navLogo {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .logoTitle {
      text-transform: uppercase;
      font-size: clamp(fn.rem(12), fn.rem(12) + 1vw, fn.rem(18));
      font-weight: 700;
      line-height: clamp(fn.rem(14), fn.rem(10) + 1vw, fn.rem(16));
      letter-spacing: fn.rem(2);
    }
  }

  .desktopNavLink {
    @include flex;
    gap: fn.rem(25);

    .navLink {
      text-transform: uppercase;
      font-size: clamp(fn.rem(12), fn.rem(12) + 1vw, fn.rem(14));
      font-weight: 600;
      line-height: clamp(fn.rem(14), fn.rem(10) + 1vw, fn.rem(16));
      letter-spacing: fn.rem(2);
    }
  }
}
