@use '../../scss/global/colors' as colors;
@use '../../scss/utils/functions' as fn;
@import '../../scss/utils/mixins';
@import '../../scss/utils/breakpoints';

.footerContainer {
  background-color: colors.$dark-bg;
  padding-block: fn.rem(50);

  .footer {
    padding-inline: 5%;
    padding-block: fn.rem(50);
    color: rgba(229, 247, 255, 1);

    .question {
      font-size: clamp(fn.rem(16), fn.rem(12) + 1vw, fn.rem(24));
      line-height: clamp(fn.rem(22), fn.rem(16) + 1.5vw, fn.rem(32));
      font-weight: 500;
      text-align: center;

      .questionBold {
        font-weight: 700;
      }
    }

    .connectContainer {
      @include flex_column;
      gap: fn.rem(50);
      border-top: solid fn.rem(2) colors.$light-bg;
      margin-block-start: fn.rem(50);
      padding-block-start: fn.rem(50);

      .mailContainer,
      .socialContainer {
        @include flex_centered;
        @include flex_column;
        gap: fn.rem(30);

        .inTouch {
          text-transform: uppercase;
          font-size: clamp(fn.rem(12), fn.rem(10) + 1vw, fn.rem(14));
          line-height: clamp(fn.rem(16), fn.rem(12) + 1.5vw, fn.rem(18));
          font-weight: 500;
          opacity: 0.4;
        }

        .email {
          font-size: clamp(fn.rem(16), fn.rem(12) + 1vw, fn.rem(24));
          line-height: clamp(fn.rem(24), fn.rem(14) + 2vw, fn.rem(36));
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
        }

        .socials {
          @include flex;
          gap: fn.rem(30);
          flex-wrap: wrap;
        }
      }

      @include breakpoint-up(md) {
        @include flex;
        justify-content: space-between;

        .mailContainer,
        .socialContainer {
          @include flex_column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: fn.rem(30);
          width: 35%;

          .inTouch {
            position: relative;
            &::before {
              position: absolute;
              content: '';
              top: fn.rem(7);
              left: fn.rem(-70);
              width: fn.rem(50);
              height: fn.rem(2);
              background-color: rgba(229, 247, 255, 1);
            }
          }

          .socials {
            .social {
              // margin-inline-end: fn.rem(20);
              width: fn.rem(100);
              text-align: left;
              // margin-inline-end: fn.rem(20);
            }
          }
        }
      }
    }
  }
}
